body {
  /* Background pattern from subtlepatterns.com */
  background-image: url('../assets/congruent_outline.png');
}

.content {
  margin: 0 auto;
  padding: 3em 2em;
  max-width: 1200px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

  .content p {
    color: #ccc;
  }

  .content a:link {
    color: #74FF70;
    text-decoration: none;
  }

  .content a:visited {
    color: #418A3E;
    text-decoration: none;
  }

  .content a:hover {
    color: #418A3E;
    text-decoration: none;
  }

  .content img {
    max-width:100%;
  }

  .content h1, .content h2, .content h3 {
    color: #ccc;
  }

  .content li {
    color: #ccc;
  }
  
  .content #skills h3 {
    margin-left: 1em;
  }

  .content h1 {
    margin: 2em 0 1em 0;
    font-weight: 300;
    line-height: 1em;
  }

  .content .portrait {
    width:400px;
    float: left;
    margin: 0 3em 3em 0;
  }

  .content .image-container {
    margin: 0 1em;
    text-align: center;
  }

  .content .reference {
    margin-bottom: 2em;
    overflow: auto;
    float: left;
    margin-right: 3em;
  }

  .content .reference img {
    max-width: 200px;
    margin-right: 2em;
    float: left;
    clear: left;
  }

  .content .reference p {
    margin-top: 2em;
    float: left;
  }

.subsection {
  padding-top: 4.5em;
}


.header {
  position: fixed;
  z-index:9;
  width:100%;
  color: #333;
  padding: 1em 0em 0.5em;
  border-bottom: 10px solid #191818;
  background-color: #86BA84;
  opacity: 0.90;
  overflow: hidden;
 }

  .header .left {
    float: left;
  }

  .header .right {
    float: right;
    text-align: right;
    margin-right: 1em;
  }

  .header h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 300;
  }

  .header h2 {
    font-weight: 400;
    margin: 0;
    font-size: 1.5em;
  }

  .header a {
    text-decoration: none;
    color: #333;
  }

    .header a h2 {
      display: inline;
    }

  .header a:hover {
    color: #666;
  }

@media (min-width: 70em) {

  #header .left {
    margin-left: 5em;
  }

  .header .right {
    float: left;
    text-align: left;
  }
}

@media (max-width: 45.5em) {
  /* shrinking stuff in the header on small screens */
  .header h1 {
    font-size: 3em;
  }

  .header h2 {
    font-size: 1em;
  }
}

@media (max-width: 33.5em) {
  /* shrinking stuff in the header more on really small screens */
  .header .left {
    margin-top: 1em;
  }

  .header h1 {
    font-size: 2em;
  }

  .header h2 {
    font-size: 1em;
  }
}