body {
  /* Background pattern from subtlepatterns.com */
  background-image: url('../assets/congruent_outline.png');
}

.content {
  margin: 0 auto;
  padding: 5em 2em;
  max-width: 1200px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

  .content p {
    color: #ccc;
  }

  .content .portrait {
    width:400px;
    float: left;
    margin: 0 3em 3em 0;
  }

  .content .image-container {
    margin: auto;
  }

  .content .image-container-left {
    margin: 0 2em 0 0;
  }

  .content .image-container-right {
    margin: 0 0 0 2em;
  }

  .content .reference {
    margin-bottom: 2em;
    overflow: auto;
    float: left;
    margin-right: 3em;
  }

  .content .reference img {
    max-width: 200px;
    margin-right: 2em;
    float: left;
    clear: left;
  }

  .content .reference p {
    margin-top: 2em;
    float: left;
  }

  .content img {
    max-width:100%;
  }

  .content h1, h2, h3, h4 {
    color: #ccc;
  }

  .content li {
    color: #ccc;
  }
  
  .content #skills h3 {
    margin-left: 1em;
  }

  .content h1 {
    margin: 2em 0 1em 0;
    font-weight: 300;
  }
  
  .content a:link {
    color: #74FF70;
    text-decoration: none;
  }

  .content a:visited {
    color: #418A3E;
    text-decoration: none;
  }

  .content a:hover {
    color: #418A3E;
    text-decoration: none;
  }

.subsection {
  padding-top: 4.5em;
}


.header {
  position: fixed;
  z-index:9;
  width:100%;
  margin: 0;
  color: #333;
  text-align: center;
  padding: 1em 0em 0.5em;
  border-bottom: 10px solid #191818;
  background-color: #86BA84;
  opacity: 0.95;
 }
  .header h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 300;
  }
   .header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
  }